*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Backup files
*~
\#*

# Temporary files
*.log
*.hex
*.bin
*.lst
*.p
*.o
*.out
*.s

# Working directories
*/build
*/build-src
/res

# Misc
/pmi80.xml
/aux
